
.container {

    height: 130px;
    width: 1450px;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px;

    margin-top: 200px;
    margin-left: 30px;
}




.item {
    background-color: rgb(3, 19, 12);
    font-size: small;
    color: rgb(45, 178, 178);
    margin-top: 2px;
    text-align: center;
    /* margin: auto; */
    /* padding: 20px; */
}

    

.enter {

    grid-row-start: 3;
    grid-row-end: 4;

    grid-column-start: 11;
    grid-column-end: 13;


}

.shift {
    grid-row-start: 4;
    grid-row-end: 5;

    grid-column-start: 11;
    grid-column-end: 13;




}

.space {

    grid-row-start: 5;
    grid-row-end: 6;

    grid-column-start: 5;
    grid-column-end: 9;

}

.button{
    size: 0.5;

    background-image: linear-gradient(white,red, red);
    border-radius: 50px;
    border: none;
}