.container {

    display: flex;
    justify-content: center;
}

.main {

    height: 670px;
    width: 1200px;
    background-color: rgb(235, 209, 175);
    borde: 2px solid red;
    margin-top: 10px;
    
}

.first {

    height: 200px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    borde: 2px solid black;
    margin-left: 45px;


}

.second {

    height: 200px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    borde: 2px solid rgb(166, 12, 222);
    margin-left: 45px;


}

.third {
    height: 200px;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    borde: 2px solid rgb(7, 87, 22);
    margin-left: 45px;
}








.div {

    height: 150px;
    width: 300px;
    borde: 1px solid;
    background-color: white;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;;



}

.text {

    display: flex;
    justify-content: space-around;
    gap: 10px;
    font-size: larger;
}

.para {
    margin: 10px;
    margin-left: 20px;
}

.doller{
    color: rgb(240, 158, 7);
}


#tp{
    margin-top: 35px;
}