.navbar{
    height: 73px;
    width: 100%;
    background-color: aliceblue;
    /* border: 1px solid black; */

    display: flex;
    
}

.logo{
    height: 73px;
    width: 40%;
    /* border: 1px solid red; */
    
}

.logo h3{
     color: rgb(241, 77, 17);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin-left: 20px;
     /* padding:10px; */
     font-size: 30px;
     padding-bottom: 20px;
}


.menu{
    height: 73px;
    width: 50%;
    /* border: 1px solid green; */
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ancer{

    text-decoration: none;
    font-family: sans-serif;
    font-weight: 400;
    color: black;

}

.visit{

    height: 70px;
    width: 10%;
    /* border: 1px solid rgb(128, 0, 4); */
    /* background-color:rgb(236, 142, 108) ; */

    background-color: #04AA6D;
    

}

.visittext{

    color: rgb(254, 252, 252);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* padding: 40px; */
    font-size: x-large;
    margin-left: 35px;
    margin-top: 20px;
}


.bigimg{
    height: 700px;
    width: 100%;
    /* border: 1px solid red; */
    background-image: url(https://cdn.pixabay.com/photo/2017/08/10/06/58/cup-2619216_1280.jpg);
    background-size: cover;
    position: relative;
}

.secondpic{



    height: 650px;
    width: 666px;
    /* border: 1px solid white; */
    position: absolute;
    bottom: 0;
    right: 0;

    background-image: url(https://cdn.pixabay.com/photo/2020/06/14/03/08/tailor-5296384_640.jpg);
    background-size: cover;
    
}

.text{

    height: 400px;
    width: 600px;
    /* border: 1px solid red; */
    position: absolute;
    left: 130px;
    top: 150px;
    text-align:left;
    color: white;
}

.text h3{

    color: aliceblue;
    font-size: 40px;

}

.text p{
    font-family: sans-serif;
}

.button2{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  
}

.img3{

    height: 330px;
    width: 90%;
    /* border: 2px solid yellow; */
    margin-left: 70px;


    display: flex;
    justify-content: space-evenly;

}

.item1{
    height:330px ;
    width: 30%;
    /* border: 1px solid rgb(91, 253, 22); */

    background-image: url(https://cdn.pixabay.com/photo/2014/04/15/12/58/sewing-machine-324764_640.jpg);
    background-size: cover;
}

.item2{
    height:330px ;
    width: 30%;
    /* border: 1px solid rgb(223, 2, 2); */

    background-image: url(https://cdn.pixabay.com/photo/2016/11/19/09/44/antique-1838324_1280.jpg);
    background-size: cover;

}
.item3{
    height:330px ;
    width: 30%;
    /* border: 1px solid rgb(32, 5, 57); */


    background-image: url(https://cdn.pixabay.com/photo/2016/03/01/04/47/sewing-1229711_640.jpg);
    background-size: cover;

}



.textdiv3{height: 300px;
    width: 90%;
    /* border: 2px solid yellow; */
    margin-left: 70px;


    display: flex;
    justify-content: space-between;
}

.text11{
    height:100px ;
    width: 30%;
    /* border: 1px solid rgb(91, 253, 22); */
}
.text11 

.text22{
    height:100px ;
    width: 30%;
    /* border: 1px solid rgb(91, 253, 22); */
}

.text33{
    height:100px ;
    width: 30%;
    /* border: 1px solid rgb(91, 253, 22); */
}

.text11 h3{

    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text22 h3{

    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text33 h3{

    font-size: 23px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.lastdiv{

    height: 401px;
    width: 100%;
    border: 1px solid black;
    align-content:center ;
    display: flex;
    justify-content: space-around;

}

.lastdiv1{

    height: 401px;
    width: 25%;
    border: 1px solid goldenrod;






}
.lastdiv2{

    height: 401px;
    width: 25%;
    border: 1px solid goldenrod;




}

.lastdiv3{

    height: 401px;
    width: 25%;
    border: 1px solid goldenrod;



}

.lastdiv4{

    height: 401px;
    width: 25%;
    border: 1px solid goldenrod;



}



.min1{

height: 130px;
    width: 100px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/icon/services1.svg);
    background-size: cover;

    margin-left: 90px;
    margin-top: 40px;

}
.min2{
    height: 130px;
    width: 100px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/icon/services2.svg);
    background-size: cover;
    margin-left: 90px;
    margin-top: 40px;
    
}
.min3{
    height: 130px;
    width: 100px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/icon/services3.svg);
    background-size: cover;
    margin-left: 90px;
    margin-top: 40px;


    
}
.min4{
    height: 130px;
    width: 100px;
    background-image: url(https://preview.colorlib.com/theme/tailor/assets/img/icon/services4.svg);
    background-size: cover;
    margin-left: 90px;
    margin-top: 40px;


}

.lastdiv1 h3{
    font-size: 20px;

}